{
    organism: "human_mouse"
    genome: ["hg38_mm10"]
    input_fasta: ["/oak/stanford/groups/wjg/bparks/TF_ADTs_Amy/04_data/custom_multiome_reference/hg38_mm10.fasta"]
    input_gtf: ["/oak/stanford/groups/wjg/bparks/TF_ADTs_Amy/04_data/custom_multiome_reference/genes.gtf"]
    non_nuclear_contigs: ["hg38.chrM", "mm10.chrM"]
    input_motifs: "/oak/stanford/groups/wjg/bparks/TF_ADTs_Amy/04_data/custom_multiome_reference/JASPAR2018_CORE_vertebrates_non-redundant_pfms_jaspar.txt"
}